table td,th {
    border: 1px solid black;
}

table{
    border-collapse: collapse;
}

.error{
    color: #ff0000;
}

thead {
    background-color: #b0b0b0;
}

td:nth-last-of-type(4){
    background-color: beige;
}

td:nth-last-of-type(2){
    background-color: beige;
}

